.divBackgroundWorkPanel{
    background-image: url("../../assets/fundal.jpg");
    background-size: 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
}
.divCardWorkPannel{
    width: 40%;
    height: 40%;
    margin-left: 10%;
    margin-top: 1%;
    padding-top: 0.1%;
}
.TitleListAppointments{
    font-family: fantasy;
    margin-top: 5%;
    margin-left: 15%;
}
.styleTitleWorkPannel{
    font-family: fantasy;
    margin-top: 4%;
    margin-left: 35%;
}
.divContentText{
    width: 40%;
    height: 90%;
    margin-left: 53%;
    margin-top: 0.1%;
    padding-top: 0.1%;
    margin-bottom: 20%;
}
.textDescriptionWorkPanel{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: blanchedalmond;
}
.alertParagraphWorkPannel{
    color: crimson;
    font-family: italic, bold;
    margin-left: 40%;
    margin-top: 10%;
    font-size: 190%;
}